*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}

body{
	font-family:'Roboto',sans-serif;
	margin-top: 0px;
}

section{
	height:650px;
	display:flex;
	justify-content: space-evenly;
	padding: 0 40px;
	align-items: center;
}

section h2{
	font-size:50px;
}
section img{
	height:60%;
	
}

section:nth-child(2){
	background-image:linear-gradient(to top, #30cfd0 0%, #330867 100%);
	color:#fff;
}